---
interface Props {
  message?: string
}

const { message = 'Page not found.' } = Astro.props as Props
---

<div class="mx-auto max-w-2xl py-16 text-center">
  <h1>404</h1>
  <p class="pb-6">{message}</p>
  <a href="/">Back to Home</a>
</div>
